.row {
  margin-top: 25vh;
  
}

.label {
font-size: 35px;
  color: rgba(0, 0, 0, 0.718);
}

button {
  font-size: 19px;
  font-weight: bold ;
color: green;
}

.card-panel {
  background-color: rgba(255, 166, 0, 0.762);
}

.share {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.862);
}
#link-input {
  color: red;
  font-size: 20px;
}
h1 {
  font-size: 23px;
  line-height: 28px;
   overflow-wrap: break-word;
}
a {
  font-size: 20px;
  color: red;
  text-decoration: underline;

}

h2 {
  color: orange;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
@media(max-width:650px) {
.share {
  font-size: 20px;
}
}


@media(max-width:600px) {
  .label {
    font-size: 20px;
  }
}